#detailsContainer {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-bottom: 10px;

	header {
		padding: 5px 0;
		align-self: flex-start;

		span {
			opacity: 0.6;
		}
	}
	.container {
		display: flex;
		justify-content: flex-start;

		margin-bottom: 5px;

		.detailsInputs,
		.detailsLabels {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			label,
			.mandalaInputs {
				height: 20px;
			}
		}

		.detailsInputs {
			div {
				display: flex;
				align-self: center;
				#customBackgroundColor {
					height: 100%;
					width: 20%;
					right: 0;
					background-color: transparent;

					-webkit-appearance: none;
					border: none;

					&::-webkit-color-swatch-wrapper {
						padding: 0;
					}
					&::-webkit-color-swatch {
						border: none;
						border: 1px solid black;
						border-radius: 5px;
					}
				}
				#customBackgroundSwitch {
					margin-left: 5px;
					margin-right: 20px;
					width: auto;
					height: 100%;
				}
			}
		}
		.detailsLabels {
			flex: 1;

			label {
				align-self: flex-start;
			}
		}
		.detailsSubmits {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;

			// .setBtn {
			// 	margin-bottom: 10px;
			// }
		}
	}

	.setResetPills {
		align-self: center;
	}
}
