.btnContainer {
	width: 100%;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.inputField {
	width: 50px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
	margin-left: 5px;
}

.btns {
	position: relative;
	height: 40px;
	width: 120px;
	border-radius: 5px;
	margin-bottom: 10px;
	background-color: $btnDefaultColor;
	color: #eee;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	border: none;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: 0.25s ease-out;

	&:hover {
		background-color: $btnHoverColor;
		outline: none;
	}
}

.resetBtn {
	padding: 5px 10px;
	background-color: $resetColor;
	color: #eee;
	border-radius: 5px;
	border: none;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
	transition: 0.25s ease-out;

	&:hover {
		background-color: $resetColorHover;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
		outline: none;
	}
}

.colorInput {
	position: absolute;
	height: 100%;
	width: 20%;
	right: 0;
	background-color: transparent;

	-webkit-appearance: none;
	border: none;

	&::-webkit-color-swatch-wrapper {
		padding: 0;
	}
	&::-webkit-color-swatch {
		border: none;
		border: 1px solid black;
		border-radius: 5px;
	}
}

//active needs to be last to override
.active {
	background-color: #fff;
	outline: none;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	color: $btnDefaultColor;

	&:hover {
		background-color: #eee;
		color: $btnHoverColor;
	}
}
