.btnContainer {
	width: 100%;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.inputField {
	width: 50px;
	text-align: center;
	background-color: $whiteText;
	margin-left: 5px;
}

.btns {
	position: relative;
	height: 40px;
	width: 120px;
	border-radius: 5px;

	margin-bottom: 10px;
	background-color: $btnDefaultColor;
	color: $whiteText;
	box-shadow: 3px 3px 5px $shadow;
	border: none;
	outline: none;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: 0.25s ease-out;

	&:hover {
		background-color: $btnHoverColor;
	}
}
.thinBtns {
	position: relative;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 10px;

	background-color: $btnDefaultColor;
	color: $whiteText;
	box-shadow: 1px 1px 3px $shadow;
	border: none;
	outline: none;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: 0.25s ease-out;

	&:hover {
		background-color: $btnHoverColor;
	}
}
.setResetPills {
	.setBtn,
	.resetBtn {
		padding: 5px 10px;
		color: $whiteText;
		border: none;
		outline: none;
		box-shadow: 1px 1px 1px $shadow;
		transition: 0.25s ease-out;

		&:hover {
			box-shadow: none;
		}
	}
	.setBtn {
		background-color: $btnDefaultColor;
		border-radius: 5px 0 0 5px;

		&:hover {
			background-color: $btnHoverColor;
		}
	}
	.resetBtn {
		background-color: $resetColor;
		border-radius: 0 5px 5px 0;

		&:hover {
			background-color: $resetColorHover;
		}
	}
}

.colorInput {
	position: absolute;
	height: 100%;
	width: 20%;
	right: 0;
	background-color: transparent;

	-webkit-appearance: none;
	border: none;

	&::-webkit-color-swatch-wrapper {
		padding: 0;
	}
	&::-webkit-color-swatch {
		border: none;
		border: 1px solid black;
		border-radius: 5px;
	}
}
.mandalaInputs {
	margin: 0 20px;
	width: 85px;
	align-self: flex-end;
	display: flex;
	justify-content: center;
}
//active needs to be last to override
.active {
	background-color: #fff;
	outline: none;
	border: none;
	box-shadow: 1px 1px 3px $shadow;
	color: $btnDefaultColor;

	&:hover {
		background-color: $whiteText;
		color: $btnHoverColor;
	}
}
