#controls {
	overflow: auto;
	width: 400px;
	min-width: 400px;

	display: flex;
	flex-direction: column;

	.mainControls {
		background-color: $outerContainerColor;
		padding: 10px;
		border-radius: 5px 5px 0 0;

		.drawerContainer {
			button {
			}
		}
		.dimensionsContainer {
			display: flex;
			justify-content: space-between;
			align-items: center;

			// .dimensionSubmits {
			// 	display: flex;

			// 	.setBtn {
			// 		border-top-right-radius: 0px;
			// 		border-bottom-right-radius: 0px;
			// 	}
			// 	.resetBtn {
			// 		border-top-left-radius: 0px;
			// 		border-bottom-left-radius: 0px;
			// 	}
			// }
		}
	}
	.subControls {
	}
}
