$outerContainerColor: hsl(273, 20%, 50%);
$innerContainerColor: hsl(273, 20%, 80%);
$btnDefaultColor: hsl(273, 20%, 30%);
$btnHoverColor: hsl(273, 20%, 40%);
$resetColor: hsl(336, 60%, 32%);
$resetColorHover: hsl(336, 46%, 57%);
$shadow: hsl(274, 85%, 8%);
$whiteText: #eee;

$stripe1: $btnDefaultColor;
$stripe2: $innerContainerColor;
$stripe1Hover: $btnHoverColor;
