#head {
	width: 100%;
	padding: 0 5px 5px 5px;
	background-color: $btnDefaultColor;
	color: #eee;

	.headContainer {
		display: flex;
		align-items: center;
		padding: 5px;
		h1 {
			flex: 1;
		}
		.toggleSequence {
			margin: 0;
		}
		#randomDrawSequence {
			height: 100%;
			width: 50px;
			background-color: peachpuff;
		}
	}
}
