#head {
	width: 100%;
	padding: 5px;
	background-color: $btnDefaultColor;
	color: $whiteText;

	.headContainer {
		display: flex;
		align-items: center;
		padding: 5px;
		h1 {
			flex: 1;
		}
		.toggleSequence {
			margin: 0;
		}
		#icon {
			height: 40px;
			width: 40px;
		}
	}
}
