.card {
	display: inline-block;
	height: 100%;
	width: 100%;
	// margin: 5px;
	border: 1px solid $shadow;
	border-radius: 5px;
	box-shadow: 0 2px 5px $shadow;
	overflow: hidden;
	background-color: $innerContainerColor;

	transition: 0.25s ease-in;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&:hover {
		z-index: 2;
		transform: scale(1.2);
		box-shadow: 5px 0 20px $shadow, -5px 0 20px $shadow;
	}
}
