#modal {
	z-index: 100;
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	.backdrop {
		position: absolute;
		z-index: -1;
		height: 100%;
		width: 100%;

		background-color: rgba(black, 0.5);
		backdrop-filter: blur(10px);
	}
}
