#customContainer {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	padding: 10px 0;

	.customInputs,
	.customLabels {
		display: flex;
		flex-direction: column;

		div:nth-child(even) {
			background-color: rgba($outerContainerColor, 0.2);
		}
		div {
			display: flex;
			flex-direction: column;
			label,
			input {
				height: 20px;
			}
		}
	}
	.customInputs {
		div {
			input {
				margin: 0 20px;
			}
		}
	}
	.customLabels {
		flex: 1;
		div {
			label {
				align-self: flex-start;
			}
		}
	}
}
