@import './core/coreIndex';
@import './init/initIndex';

@import '../components/componentsIndex';

@import './utilities/utilityClasses';
.App {
	text-align: center;
	background-color: #333;

	main {
		display: flex;
		padding-bottom: 300px;
		height: 100%;
	}
}
