#sequence {
	z-index: 10;
	background-color: $outerContainerColor;
	position: relative;
	overflow: hidden;

	.cardContainer {
		direction: rtl;
		white-space: nowrap;
		overflow: hidden;
		padding: 10px 0;
		border-radius: 5px;

		display: grid;
		grid-gap: 10px;
		grid-template-columns: repeat(auto-fill, 200px);
		grid-auto-columns: 200px;
		grid-auto-flow: column;
		grid-template-rows: 200px;
	}

	.sequenceScrolls {
		z-index: 3;
		position: absolute;
		top: 0;
		height: 100%;
		width: 50px;
		background-color: rgba($innerContainerColor, 0.3);
	}
	#sequenceLeft {
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		.arrow {
			width: 0;
			height: 0;
			border-top: 20px solid transparent;
			border-bottom: 20px solid transparent;

			border-right: 20px solid $btnDefaultColor;
			filter: drop-shadow(0 0 4px $innerContainerColor);
		}
	}
	#sequenceRight {
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		.arrow {
			width: 0;
			height: 0;
			border-top: 20px solid transparent;
			border-bottom: 20px solid transparent;

			border-left: 20px solid $btnDefaultColor;
			filter: drop-shadow(0 0 4px $innerContainerColor);
		}
	}
}
